font-family: Arial, Helvetica, sans-serif;

body {
    background: linear-gradient(135deg, #003352, #00b1ff);
    font-family: 'Open Sans', sans-serif;
    color: #007fb5; /* Lincoln Blue */
    text-align: center;
    padding: 20px;
}

.quiz-container {
    background-color: #ffffff; /* Summit White */
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    max-width: 600px;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    color: #003352; /* Kerby Blue */
}

.question {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: left;
    color: #007fb5; /* Lincoln Blue */
}

button {
    font-size: 18px;
    padding: 10px 15px;
    background-color: #00b1ff; /* Focus Blue */
    color: #ffffff; /* Summit White */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #a7a9ac; /* Historic Silver */
}

#result {
    font-size: 20px;
    margin-top: 20px;
    color: #007fb5; /* Lincoln Blue */
}
footer {
    text-align: center;
    font-size: 14px;
    color: #555;
    margin-top: 40px;
    padding: 20px;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
}

footer p {
    margin: 5px 0;
}

.collaboration {
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    font-style: italic;
    color: #555;
}


